/build/
/node_modules/
/vendor/
/*.zip
/.env
/.env.*
!/.env.example
/.vscode/
/.idea/
/.phpunit.result.cache
/.phpunit.cache/
/vendor/
/coverage/
/*.log
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
.DS_Store
Thumbs.db
/phpcs.xml

/languages/json-*-test*/
/languages/json-test/
/languages/paper-to-quiz-*.json
/languages/paper-to-quiz-*.mo
/languages/paper-to-quiz-*.po
